In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import numpy as np

In [13]:
driver = "mysql+pymysql:"
user = "root"
password = "***********"
ip = "localhost"
database = "Prject_4"

In [14]:
connection_string = f"{driver}//{user}:{password}@{ip}/{database}"
engine = create_engine(connection_string)

In [21]:
db = pd.read_csv("../data/data_db.csv", index_col = 0)

In [22]:
del db["month"]
del db["day"]
del db["time"]
del db["hour"]

In [17]:
db.head()

,accuracy,latitude,longitude,date,main_activity,weekday_weekend,morning_afternoon,total_time
0,13,41.550241,2.115207,2019-05-15 05:39:28,IN_VEHICLE,weekday,am,17.0
1,3,41.511503,2.102535,2019-05-15 05:56:51,IN_VEHICLE,weekday,am,3.0
2,3,41.500047,2.145885,2019-05-15 06:00:09,IN_VEHICLE,weekday,am,40.0
3,200,41.397261,2.185404,2019-05-15 06:40:26,IN_VEHICLE,weekday,am,0.0
4,14,41.390674,2.166036,2019-05-15 13:21:39,IN_VEHICLE,weekday,pm,11.0

In [25]:
db.to_sql('vehicle_clean', con = engine, if_exists="append", index=False)