In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import  matplotlib.pyplot as plt
%matplotlib inline
import datetime
import json
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets

In [63]:
#temp = pd.read_json("../data/timeline.json")

In [2]:
with open('../data/timeline.json', encoding='utf-8') as data_file:
    data = json.loads(data_file.read())

raw = pd.DataFrame(data['locations'])

In [5]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571094 entries, 0 to 571093
Data columns (total 10 columns):
accuracy            571094 non-null int64
activity            272901 non-null object
altitude            299959 non-null float64
heading             53583 non-null float64
latitudeE7          571094 non-null int64
longitudeE7         571094 non-null int64
timestampMs         571094 non-null object
velocity            83129 non-null float64
verticalAccuracy    216270 non-null float64
timestamp           571094 non-null object
dtypes: float64(4), int64(3), object(3)
memory usage: 43.6+ MB

In [6]:
raw['timestamp'] = raw['timestampMs'].apply(lambda x: x[:10])
raw["date"] = pd.to_datetime(raw['timestamp'], unit='s')

In [9]:
df = raw[raw["date"] > "2019-05-15 00:00:00"]

In [60]:
df.to_csv("data_may_2019.csv")

In [2]:
df = pd.read_csv("data_may_2019.csv")

In [30]:
df.head()

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy,timestamp,date
548479,13,NaN,244.0,NaN,415502940,21152927,1557879738369,NaN,2.0,1557879738,2019-05-15 00:22:18
548480,13,NaN,244.0,NaN,415502940,21152927,1557881940446,NaN,2.0,1557881940,2019-05-15 00:59:00
548481,13,NaN,244.0,NaN,415502940,21152927,1557884161261,NaN,2.0,1557884161,2019-05-15 01:36:01
548482,13,NaN,244.0,NaN,415502940,21152927,1557886340470,NaN,2.0,1557886340,2019-05-15 02:12:20
548483,13,"[{'timestampMs': '1557877562167', 'activity': ...",244.0,NaN,415502940,21152927,1557888549555,NaN,2.0,1557888549,2019-05-15 02:49:09

In [3]:
df["latitude"] = df["latitudeE7"]/10000000
df["longitude"] = df["longitudeE7"]/10000000

In [41]:
df["activity"].iloc[16]

[{'timestampMs': '1557895421973',
  'activity': [{'type': 'STILL', 'confidence': 100}]},
 {'timestampMs': '1557895495205',
  'activity': [{'type': 'STILL', 'confidence': 99},
   {'type': 'UNKNOWN', 'confidence': 1}]},
 {'timestampMs': '1557895556461',
  'activity': [{'type': 'STILL', 'confidence': 100}]},
 {'timestampMs': '1557895616892',
  'activity': [{'type': 'STILL', 'confidence': 100}]}]

In [4]:
test = df["activity"].apply(pd.Series)

In [52]:
test[0].iloc[4]

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
548479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548483,"{'timestampMs': '1557877562167', 'activity': [...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.merge(test[0], how = "inner", left_index=True, right_index=True)

,Unnamed: 0,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy,timestamp,date,latitude,longitude,0
0,548479,13,NaN,244.0,NaN,415502940,21152927,1557879738369,NaN,2.0,1557879738,2019-05-15 00:22:18,41.550294,2.115293,NaN
1,548480,13,NaN,244.0,NaN,415502940,21152927,1557881940446,NaN,2.0,1557881940,2019-05-15 00:59:00,41.550294,2.115293,NaN
2,548481,13,NaN,244.0,NaN,415502940,21152927,1557884161261,NaN,2.0,1557884161,2019-05-15 01:36:01,41.550294,2.115293,NaN
3,548482,13,NaN,244.0,NaN,415502940,21152927,1557886340470,NaN,2.0,1557886340,2019-05-15 02:12:20,41.550294,2.115293,NaN
4,548483,13,"[{'timestampMs': '1557877562167', 'activity': ...",244.0,NaN,415502940,21152927,1557888549555,NaN,2.0,1557888549,2019-05-15 02:49:09,41.550294,2.115293,"[{'timestampMs': '1557877562167', 'activity': ..."
5,548484,13,NaN,244.0,NaN,415502940,21152928,1557888735019,NaN,2.0,1557888735,2019-05-15 02:52:15,41.550294,2.115293,NaN
6,548485,13,NaN,244.0,NaN,415502932,21152926,1557889334869,NaN,2.0,1557889334,2019-05-15 03:02:14,41.550293,2.115293,NaN
7,548486,13,"[{'timestampMs': '1557890686649', 'activity': ...",244.0,NaN,415502932,21152926,1557890707511,NaN,2.0,1557890707,2019-05-15 03:25:07,41.550293,2.115293,"[{'timestampMs': '1557890686649', 'activity': ..."
8,548487,13,"[{'timestampMs': '1557890751074', 'activity': ...",244.0,NaN,415502932,21152926,1557890747805,NaN,2.0,1557890747,2019-05-15 03:25:47,41.550293,2.115293,"[{'timestampMs': '1557890751074', 'activity': ..."
9,548488,13,"[{'timestampMs': '1557891220675', 'activity': ...",244.0,NaN,415502945,21152928,1557891544498,NaN,2.0,1557891544,2019-05-15 03:39:04,41.550294,2.115293,"[{'timestampMs': '1557891220675', 'activity': ..."
10,548489,13,NaN,244.0,NaN,415502945,21152928,1557891857374,NaN,2.0,1557891857,2019-05-15 03:44:17,41.550294,2.115293,NaN
11,548490,13,NaN,244.0,NaN,415502945,21152928,1557892290354,NaN,2.0,1557892290,2019-05-15 03:51:30,41.550294,2.115293,NaN
12,548491,16,NaN,243.0,30.0,415501817,21152947,1557893587499,0.0,24.0,1557893587,2019-05-15 04:13:07,41.550182,2.115295,NaN
13,548492,3,NaN,237.0,NaN,415501870,21152120,1557894605251,0.0,6.0,1557894605,2019-05-15 04:30:05,41.550187,2.115212,NaN
14,548493,13,"[{'timestampMs': '1557894613952', 'activity': ...",244.0,NaN,415502937,21152926,1557895207464,NaN,2.0,1557895207,2019-05-15 04:40:07,41.550294,2.115293,"[{'timestampMs': '1557894613952', 'activity': ..."
15,548494,15,"[{'timestampMs': '1557895322154', 'activity': ...",244.0,NaN,415502866,21152893,1557895375483,NaN,2.0,1557895375,2019-05-15 04:42:55,41.550287,2.115289,"[{'timestampMs': '1557895322154', 'activity': ..."
16,548495,13,"[{'timestampMs': '1557895421973', 'activity': ...",244.0,NaN,415502904,21152898,1557895417927,NaN,2.0,1557895417,2019-05-15 04:43:37,41.550290,2.115290,"[{'timestampMs': '1557895421973', 'activity': ..."
17,548496,13,"[{'timestampMs': '1557896823694', 'activity': ...",244.0,NaN,415502904,21152898,1557897689439,NaN,2.0,1557897689,2019-05-15 05:21:29,41.550290,2.115290,"[{'timestampMs': '1557896823694', 'activity': ..."
18,548497,14,"[{'timestampMs': '1557898001561', 'activity': ...",244.0,NaN,415502917,21152994,1557898000713,NaN,2.0,1557898000,2019-05-15 05:26:40,41.550292,2.115299,"[{'timestampMs': '1557898001561', 'activity': ..."
19,548498,14,NaN,244.0,NaN,415502889,21152890,1557898031563,NaN,2.0,1557898031,2019-05-15 05:27:11,41.550289,2.115289,NaN
20,548499,20,"[{'timestampMs': '1557898104877', 'activity': ...",248.0,319.0,415504114,21153968,1557898059000,2.0,16.0,1557898059,2019-05-15 05:27:39,41.550411,2.115397,"[{'timestampMs': '1557898104877', 'activity': ..."
21,548500,23,"[{'timestampMs': '1557898190953', 'activity': ...",238.0,NaN,415511716,21157763,1557898192258,NaN,17.0,1557898192,2019-05-15 05:29:52,41.551172,2.115776,"[{'timestampMs': '1557898190953', 'activity': ..."
22,548501,6,NaN,242.0,NaN,415512721,21162591,1557898208000,0.0,3.0,1557898208,2019-05-15 05:30:08,41.551272,2.116259,NaN
23,548502,3,NaN,239.0,NaN,415512769,21162746,1557898223000,0.0,3.0,1557898223,2019-05-15 05:30:23,41.551277,2.116275,NaN
24,548503,3,NaN,239.0,NaN,415512847,21162748,1557898238000,0.0,3.0,1557898238,2019-05-15 05:30:38,41.551285,2.116275,NaN
25,548504,3,NaN,239.0,NaN,415512868,21162759,1557898254000,0.0,3.0,1557898254,2019-05-15 05:30:54,41.551287,2.116276,NaN
26,548505,3,"[{'timestampMs': '1557898264212', 'activity': ...",239.0,NaN,415512870,21162763,1557898269000,0.0,3.0,1557898269,2019-05-15 05:31:09,41.551287,2.116276,"[{'timestampMs': '1557898264212', 'activity': ..."
27,548506,3,NaN,239.0,NaN,415512867,21162771,1557898285000,0.0,3.0,1557898285,2019-05-15 05:31:25,41.551287,2.116277,NaN
28,548507,3,NaN,236.0,NaN,415512976,21162968,1557898300000,0.0,3.0,1557898300,2019-05-15 05:31:40,41.551298,2.116297,NaN
29,548508,3,NaN,236.0,NaN,415512976,21162971,1557898315000,0.0,4.0,1557898315,2019-05-15 05:31:55,41.551298,2.116297,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22585,571064,6,"[{'timestampMs': '1563815910613', 'activity': ...",231.0,NaN,415431306,21180032,1563815905000,0.0,8.0,1563815905,2019-07-22 17:18:25,41.543131,2.118003,"[{'timestampMs': '1563815910613', 'activity': ..."
22586,571065,6,NaN,231.0,NaN,415431271,21179926,1563815920000,0.0,8.0,1563815920,2019-07-22 17:18:40,41.543127,2.117993,NaN
22587,571066,6,NaN,231.0,NaN,415430945,21179523,1563815935000,0.0,8.0,1563815935,2019-07-22 17:18:55,41.543095,2.117952,NaN
22588,571067,7,NaN,233.0,NaN,415430870,21179386,1563815951000,0.0,12.0,1563815951,2019-07-22 17:19:11,41.543087,2.117939,NaN
22589,571068,7,"[{'timestampMs': '1563815971081', 'activity': ...",233.0,NaN,415430853,21179361,1563815966000,0.0,8.0,1563815966,2019-07-22 17:19:26,41.543085,2.117936,"[{'timestampMs': '1563815971081', 'activity': ..."
22590,571069,7,NaN,233.0,NaN,415430851,21179358,1563815982000,0.0,12.0,1563815982,2019-07-22 17:19:42,41.543085,2.117936,NaN
22591,571070,6,NaN,233.0,NaN,415430844,21179350,1563815998000,0.0,8.0,1563815998,2019-07-22 17:19:58,41.543084,2.117935,NaN
22592,571071,6,NaN,233.0,NaN,415430841,21179346,1563816013000,0.0,8.0,1563816013,2019-07-22 17:20:13,41.543084,2.117935,NaN
22593,571072,6,"[{'timestampMs': '1563816032055', 'activity': ...",233.0,NaN,415430834,21179339,1563816029000,0.0,8.0,1563816029,2019-07-22 17:20:29,41.543083,2.117934,"[{'timestampMs': '1563816032055', 'activity': ..."
22594,571073,6,NaN,233.0,NaN,415430830,21179334,1563816044000,0.0,8.0,1563816044,2019-07-22 17:20:44,41.543083,2.117933,NaN
22595,571074,6,"[{'timestampMs': '1563816092790', 'activity': ...",233.0,NaN,415430822,21179326,1563816060000,0.0,8.0,1563816060,2019-07-22 17:21:00,41.543082,2.117933,"[{'timestampMs': '1563816092790', 'activity': ..."
22596,571075,23,"[{'timestampMs': '1563816135534', 'activity': ...",NaN,NaN,415432435,21174128,1563816180739,NaN,NaN,1563816180,2019-07-22 17:23:00,41.543244,2.117413,"[{'timestampMs': '1563816135534', 'activity': ..."
22597,571076,23,"[{'timestampMs': '1563816208841', 'activity': ...",NaN,NaN,415432275,21174546,1563816307695,NaN,NaN,1563816307,2019-07-22 17:25:07,41.543228,2.117455,"[{'timestampMs': '1563816208841', 'activity': ..."
22598,571077,33,"[{'timestampMs': '1563816426407', 'activity': ...",236.0,NaN,415436002,21166283,1563816429045,NaN,5.0,1563816429,2019-07-22 17:27:09,41.543600,2.116628,"[{'timestampMs': '1563816426407', 'activity': ..."
22599,571078,14,"[{'timestampMs': '1563816548016', 'activity': ...",NaN,NaN,415509746,21136892,1563816550509,NaN,NaN,1563816550,2019-07-22 17:29:10,41.550975,2.113689,"[{'timestampMs': '1563816548016', 'activity': ..."
22600,571079,14,"[{'timestampMs': '1563816645210', 'activity': ...",NaN,NaN,415507029,21151864,1563816679591,NaN,NaN,1563816679,2019-07-22 17:31:19,41.550703,2.115186,"[{'timestampMs': '1563816645210', 'activity': ..."
22601,571080,14,NaN,241.0,NaN,415502919,21153055,1563816801435,NaN,2.0,1563816801,2019-07-22 17:33:21,41.550292,2.115305,NaN
22602,571081,14,"[{'timestampMs': '1563816865633', 'activity': ...",241.0,NaN,415502912,21153059,1563816837769,NaN,2.0,1563816837,2019-07-22 17:33:57,41.550291,2.115306,"[{'timestampMs': '1563816865633', 'activity': ..."
22603,571082,13,"[{'timestampMs': '1563817085423', 'activity': ...",241.0,NaN,415502914,21153006,1563817087785,NaN,2.0,1563817087,2019-07-22 17:38:07,41.550291,2.115301,"[{'timestampMs': '1563817085423', 'activity': ..."
22604,571083,13,"[{'timestampMs': '1563817145778', 'activity': ...",241.0,NaN,415502914,21153006,1563817148039,NaN,2.0,1563817148,2019-07-22 17:39:08,41.550291,2.115301,"[{'timestampMs': '1563817145778', 'activity': ..."
22605,571084,13,"[{'timestampMs': '1563817268633', 'activity': ...",241.0,NaN,415502816,21152988,1563817268600,NaN,2.0,1563817268,2019-07-22 17:41:08,41.550282,2.115299,"[{'timestampMs': '1563817268633', 'activity': ..."
22606,571085,13,"[{'timestampMs': '1563817329213', 'activity': ...",241.0,NaN,415502816,21152988,1563817389520,NaN,2.0,1563817389,2019-07-22 17:43:09,41.550282,2.115299,"[{'timestampMs': '1563817329213', 'activity': ..."
22607,571086,13,"[{'timestampMs': '1563817522029', 'activity': ...",241.0,NaN,415502816,21152988,1563817509592,NaN,2.0,1563817509,2019-07-22 17:45:09,41.550282,2.115299,"[{'timestampMs': '1563817522029', 'activity': ..."
22608,571087,13,"[{'timestampMs': '1563817968538', 'activity': ...",241.0,NaN,415502816,21152988,1563817968358,NaN,2.0,1563817968,2019-07-22 17:52:48,41.550282,2.115299,"[{'timestampMs': '1563817968538', 'activity': ..."
22609,571088,14,"[{'timestampMs': '1563818028569', 'activity': ...",241.0,NaN,415502913,21153022,1563820139367,NaN,2.0,1563820139,2019-07-22 18:28:59,41.550291,2.115302,"[{'timestampMs': '1563818028569', 'activity': ..."
22610,571089,14,"[{'timestampMs': '1563820349601', 'activity': ...",241.0,NaN,415502913,21153022,1563820366340,NaN,2.0,1563820366,2019-07-22 18:32:46,41.550291,2.115302,"[{'timestampMs': '1563820349601', 'activity': ..."
22611,571090,14,"[{'timestampMs': '1563820714766', 'activity': ...",241.0,NaN,415502913,21153022,1563820499607,NaN,2.0,1563820499,2019-07-22 18:34:59,41.550291,2.115302,"[{'timestampMs': '1563820714766', 'activity': ..."
22612,571091,14,NaN,241.0,NaN,415502906,21153031,1563820805539,NaN,2.0,1563820805,2019-07-22 18:40:05,41.550291,2.115303,NaN
22613,571092,14,NaN,241.0,NaN,415502803,21153017,1563822965981,NaN,2.0,1563822965,2019-07-22 19:16:05,41.550280,2.115302,NaN
22614,571093,17,NaN,237.0,NaN,415501430,21153099,1563824025000,0.0,32.0,1563824025,2019-07-22 19:33:45,41.550143,2.115310,NaN

In [58]:
del df2_all["altitude"]
del df2_all["heading"]
del df2_all["velocity"]
del df2_all["verticalAccuracy"]
df2_all.head()

,accuracy,activity,latitudeE7,longitudeE7,timestampMs,timestamp,date
0,6,"[{'timestampMs': '1463586853710', 'activity': ...",415502254,21150626,1463586840671,1463586840,2016-05-18 15:54:00
1,32,"[{'timestampMs': '1463586918135', 'activity': ...",415501500,21152004,1463586880891,1463586880,2016-05-18 15:54:40
2,30,"[{'timestampMs': '1463586966709', 'activity': ...",415501922,21151626,1463587017636,1463587017,2016-05-18 15:56:57
3,34,"[{'timestampMs': '1463587140745', 'activity': ...",415501958,21150574,1463587137912,1463587137,2016-05-18 15:58:57
4,33,"[{'timestampMs': '1463587260826', 'activity': ...",415501966,21150525,1463587257913,1463587257,2016-05-18 16:00:57

In [13]:
import gmaps
import googlemaps
gm = googlemaps.Client(key="AIzaSyCTjoqtBFab3fB8WJ7AfZQ0MybA6hVr0QE")
gmaps.configure(api_key="AIzaSyCTjoqtBFab3fB8WJ7AfZQ0MybA6hVr0QE")


#locations = gmaps.datasets.load_dataset_as_df('acled_africa')
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(df[['latitude', 'longitude']])
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(
    df[['latitude', 'longitude']],
    max_intensity=30, point_radius=3.0
)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:



locations = df[['latitude', 'longitude']]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))