##  Import all libraries needed

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import  matplotlib.pyplot as plt
%matplotlib inline
import datetime
import json
import re

--------------------

## Data Cleaning

### Read the json data

In [ ]:
with open('../data/timeline.json', encoding='utf-8') as data_file:
    data = json.loads(data_file.read())

raw = pd.DataFrame(data['locations'])

In [ ]:
raw.info()

### Extract the timestampMs to timestamp and then convert the timestamp to human read formate

In [ ]:
raw['timestamp'] = raw['timestampMs'].apply(lambda x: x[:10])
raw["date"] = pd.to_datetime(raw['timestamp'], unit='s')

### Choose only the last two months and save it as .csv

In [ ]:
df = raw[raw["date"] > "2019-05-15 00:00:00"]

In [ ]:
df.to_csv("data_may_2019.csv")

------------------------------------

### Read the .csv into DataFrame

In [2]:
df = pd.read_csv("data_may_2019.csv", index_col=0)

In [3]:
df.head()

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity,verticalAccuracy,timestamp,date
548479,13,NaN,244.0,NaN,415502940,21152927,1557879738369,NaN,2.0,1557879738,2019-05-15 00:22:18
548480,13,NaN,244.0,NaN,415502940,21152927,1557881940446,NaN,2.0,1557881940,2019-05-15 00:59:00
548481,13,NaN,244.0,NaN,415502940,21152927,1557884161261,NaN,2.0,1557884161,2019-05-15 01:36:01
548482,13,NaN,244.0,NaN,415502940,21152927,1557886340470,NaN,2.0,1557886340,2019-05-15 02:12:20
548483,13,"[{'timestampMs': '1557877562167', 'activity': ...",244.0,NaN,415502940,21152927,1557888549555,NaN,2.0,1557888549,2019-05-15 02:49:09

### Convert, drop columns and rename columns

In [4]:
df["latitudeE7"] = df["latitudeE7"]/10000000
df["longitudeE7"] = df["longitudeE7"]/10000000

In [5]:
df = df.drop(columns = ["altitude", "heading", "velocity", "verticalAccuracy", "timestampMs"])
df.head()

,accuracy,activity,latitudeE7,longitudeE7,timestamp,date
548479,13,NaN,41.550294,2.115293,1557879738,2019-05-15 00:22:18
548480,13,NaN,41.550294,2.115293,1557881940,2019-05-15 00:59:00
548481,13,NaN,41.550294,2.115293,1557884161,2019-05-15 01:36:01
548482,13,NaN,41.550294,2.115293,1557886340,2019-05-15 02:12:20
548483,13,"[{'timestampMs': '1557877562167', 'activity': ...",41.550294,2.115293,1557888549,2019-05-15 02:49:09

In [6]:
df["date"] = df["date"].astype('datetime64[ns]')

In [7]:
df = df.rename(columns = {"latitudeE7":"latitude", "longitudeE7":"longitude"})

### Choose only interested time interval
As I only want to analyse my daily commute activity, I only want to choose daily hour from 7.am to 9.pm.
However, the google map provided Unix Timestamp, which is actually GMT = 0 time zone. 
Therefore I need to subtract two hours in order to choose the correspondng time in my time zone,

In [8]:
# I need to set date as index in order to select the desired daily hour interval
df_new = df.set_index(df['date'])

In [9]:
df_morning = df_new.between_time('05:00', '19:00')

In [10]:
# Have a look
df_morning.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 18147 entries, 2019-05-15 05:21:29 to 2019-07-22 18:40:05
Data columns (total 6 columns):
accuracy     18147 non-null int64
activity     10946 non-null object
latitude     18147 non-null float64
longitude    18147 non-null float64
timestamp    18147 non-null int64
date         18147 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 992.4+ KB

In [11]:
# Only select data where the activity is not null
df_morning = df_morning[df_morning["activity"].notnull()]

### Extract information I needed

In [12]:
# Have a look into the activity detail
df_morning["activity"].iloc[180]

"[{'timestampMs': '1557933149226', 'activity': [{'type': 'UNKNOWN', 'confidence': 40}, {'type': 'IN_VEHICLE', 'confidence': 10}, {'type': 'ON_BICYCLE', 'confidence': 10}, {'type': 'ON_FOOT', 'confidence': 10}, {'type': 'WALKING', 'confidence': 10}, {'type': 'RUNNING', 'confidence': 10}, {'type': 'STILL', 'confidence': 10}, {'type': 'IN_ROAD_VEHICLE', 'confidence': 10}, {'type': 'IN_RAIL_VEHICLE', 'confidence': 10}, {'type': 'IN_FOUR_WHEELER_VEHICLE', 'confidence': 10}, {'type': 'IN_CAR', 'confidence': 10}]}, {'timestampMs': '1557933153072', 'activity': [{'type': 'TILTING', 'confidence': 100}]}]"

There are too many predicted activities in one timestamp, I only want the first activity where the confidence is highest.

In [13]:
# Define a function to exract the first timestamp
def extract_time(x):
    pattern_time = re.findall("\d{13}", x)
    return pattern_time[0]

In [14]:
# Define a function to extract the first activity
def extract_activity(x):
    pattern_activity = re.findall("('type': '\w+)", x)
    text = re.sub(r"\'type\'\:\s\'", "", pattern_activity[0])
    return text

In [15]:
df_morning["main_activity"] = df_morning["activity"].apply(extract_activity)

There are some activity marked as "Unknown", replace them with bfill()

In [16]:
df_morning["main_activity"] = df_morning["main_activity"].replace("UNKNOWN", method='bfill')

In [17]:
# Have a look how many different activities
df_morning["main_activity"].value_counts()

STILL              5258
IN_VEHICLE         3042
TILTING            1318
ON_FOOT            1020
ON_BICYCLE          299
EXITING_VEHICLE       9
Name: main_activity, dtype: int64

I don't know why I tilting so much (I don't even know what tilting means here!)

-------

Convert and split datetime into different columns

In [18]:
df_morning["month"] = df_morning["date"].dt.month
df_morning["day"] = df_morning["date"].dt.day
df_morning["time"] = df_morning["date"].dt.strftime('%H:%M:%S')
df_morning["hour"] = df_morning["date"].dt.hour
#df_morning["minute"] = df_morning["date"].dt.minute

Identify if the date is a weekday or weekend

In [20]:
df_morning["weekday_weekend"] = df_morning["date"].apply(lambda x: x.isoweekday())
df_morning["weekday_weekend"] = np.where(df_morning["weekday_weekend"] < 5, "weekday", "weekend")

Split dataframe into different subdf based on the main activity

In [21]:
df_vehicle = df_morning[df_morning["main_activity"] == "IN_VEHICLE"]
df_foot = df_morning[df_morning["main_activity"] == "ON_FOOT"]
df_bicycle = df_morning[df_morning["main_activity"] == "ON_BICYCLE"]

### Convert and create columns for analysis purpose

Add a column indicating if it is morning or afternoon

In [22]:
# remember, the hour presents here is the GMT = 0
df_vehicle["morning_afternoon"] = np.where(df_vehicle["hour"]  <10 ,"am", "pm")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

As google map records my activity (around) every 2 mins, there are many rows with the same activity. I want to extract only the first and last timestamp of each activity. To do so, first I need to create a column indicating when there is a change of activity. However, I don't know how to do it using one columns one function, therefore first I creat two columns, one is for the beginning of activity and the other is the end of activity, and then combined these two.

In [23]:
temp = []

for i in range(len(df_vehicle["time"])-1):
    if df_vehicle["hour"][i] == df_vehicle["hour"][i+1]:
        temp.append(0)
    else:
        temp.append(1)
        
# As the temp length is 1 row less than the df_morning, I have to add one row        
temp.append(0)

In [24]:
df_vehicle["arrival_index"] = pd.Series(temp).values

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
temp2 = [1,]

for i in range(len(df_vehicle["time"])-1):
    if df_vehicle["hour"][i] == df_vehicle["hour"][i+1]:
        temp2.append(0)
    else:
        temp2.append(1)

In [26]:
df_vehicle["departure_index"] = pd.Series(temp2).values

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
df_vehicle["departure_arrival"] = df_vehicle["arrival_index"] + df_vehicle["departure_index"]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Now I have the column indicating the beginning and ending of activity, it's time to catch it out!

In [28]:
df_vehicle_clean = df_vehicle[df_vehicle["departure_arrival"] == 1]

In [29]:
df_vehicle_clean.head(5)

,accuracy,activity,latitude,longitude,timestamp,date,main_activity,month,day,time,hour,weekday_weekend,morning_afternoon,arrival_index,departure_index,departure_arrival
date,,,,,,,,,,,,,,,,
2019-05-15 05:39:28,13,"[{'timestampMs': '1557898731013', 'activity': ...",41.550241,2.115207,1557898768,2019-05-15 05:39:28,IN_VEHICLE,5,15,05:39:28,5,weekday,am,0,1,1
2019-05-15 05:56:51,3,"[{'timestampMs': '1557899814281', 'activity': ...",41.511503,2.102535,1557899811,2019-05-15 05:56:51,IN_VEHICLE,5,15,05:56:51,5,weekday,am,1,0,1
2019-05-15 06:00:09,3,"[{'timestampMs': '1557899994801', 'activity': ...",41.500047,2.145885,1557900009,2019-05-15 06:00:09,IN_VEHICLE,5,15,06:00:09,6,weekday,am,0,1,1
2019-05-15 06:40:26,200,"[{'timestampMs': '1557902429913', 'activity': ...",41.397261,2.185404,1557902426,2019-05-15 06:40:26,IN_VEHICLE,5,15,06:40:26,6,weekday,am,1,0,1
2019-05-15 13:21:39,14,"[{'timestampMs': '1557926497156', 'activity': ...",41.390674,2.166036,1557926499,2019-05-15 13:21:39,IN_VEHICLE,5,15,13:21:39,13,weekday,pm,0,1,1

The next step is to create a column that calculate the total elapse time between beginning and ending of activity

In [30]:
df_vehicle_clean["time"] = pd.to_timedelta(df_vehicle_clean["time"])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
total_time = []
for i in range(len(df_vehicle_clean["time"])-1):
    total_time.append(df_vehicle_clean["time"][i+1] - df_vehicle_clean["time"][i])
    
total_time.append(np.nan)

In [37]:
df_vehicle_clean["total_time"] = pd.Series(total_time).values

In [38]:
# convert time into seconds
df_vehicle_clean["total_time"]= df_vehicle_clean["total_time"].astype('timedelta64[m]')

In [ ]:
# Say goodbye to those columns that we don't need anymore. >,<
df_vehicle_clean = df_vehicle_clean.drop(columns=["timestamp", "departure_arrival", "activity", "arrival_index", "departure_index"])

There are some rows with more than one hour or even negative values, it is because the rows acrossed two day, I have to clean them

In [40]:
df_vehicle_clean["total_time"] = np.where(df_vehicle_clean["total_time"] < 60, df_vehicle_clean["total_time"], 0)
df_vehicle_clean["total_time"] = np.where(df_vehicle_clean["total_time"] < 0, 0, df_vehicle_clean["total_time"])

Now the dataframe should be cleaned. Let's have a look!

In [42]:
df_vehicle_clean.head()

,accuracy,latitude,longitude,date,main_activity,month,day,time,hour,weekday_weekend,morning_afternoon,total_time
date,,,,,,,,,,,,
2019-05-15 05:39:28,13,41.550241,2.115207,2019-05-15 05:39:28,IN_VEHICLE,5,15,05:39:28,5,weekday,am,17.0
2019-05-15 05:56:51,3,41.511503,2.102535,2019-05-15 05:56:51,IN_VEHICLE,5,15,05:56:51,5,weekday,am,3.0
2019-05-15 06:00:09,3,41.500047,2.145885,2019-05-15 06:00:09,IN_VEHICLE,5,15,06:00:09,6,weekday,am,40.0
2019-05-15 06:40:26,200,41.397261,2.185404,2019-05-15 06:40:26,IN_VEHICLE,5,15,06:40:26,6,weekday,am,0.0
2019-05-15 13:21:39,14,41.390674,2.166036,2019-05-15 13:21:39,IN_VEHICLE,5,15,13:21:39,13,weekday,pm,11.0

It's time to do some descriptive analysis!!!!!!!

In [44]:
table1 = df_vehicle_clean.pivot_table(values="total_time", columns = "morning_afternoon", index = ["month", "weekday_weekend", "day"], aggfunc = sum)
table1

morning_afternoon             am     pm
month weekday_weekend day
5     weekday         15    60.0   84.0
                      16    56.0   51.0
                      20    74.0   75.0
                      21    47.0   59.0
                      22    48.0   48.0
                      23    93.0   73.0
                      27    48.0   79.0
                      28    46.0   55.0
                      29    60.0   28.0
                      30    47.0  138.0
      weekend         17    62.0   20.0
                      24    73.0   72.0
                      31    49.0  148.0
6     weekday         3     55.0  106.0
                      4     65.0   69.0
                      5     72.0   46.0
                      6     54.0   47.0
                      11    67.0  114.0
                      12    60.0   35.0
                      13    59.0   34.0
                      17    68.0   24.0
                      18    51.0   65.0
                      19    63.0   48.0
                      20   191.0    NaN
                      24    55.0   28.0
                      25    55.0  170.0
                      26    47.0   58.0
                      27    51.0   65.0
      weekend         1     34.0   47.0
                      7     54.0  103.0
                      14    56.0   86.0
                      21    30.0    NaN
                      22   128.0  118.0
                      28    62.0  104.0
                      29   108.0  137.0
7     weekday         1     24.0   53.0
                      2     40.0    NaN
                      3     48.0  146.0
                      4     56.0   87.0
                      8     69.0   62.0
                      9     48.0   69.0
                      10    54.0   86.0
                      11    52.0   76.0
                      15    54.0   57.0
                      16    52.0   36.0
                      17    52.0   63.0
                      18    16.0  100.0
                      22    57.0   49.0
      weekend         5     56.0   79.0
                      12    37.0   65.0
                      13     NaN   26.0
                      19    49.0  103.0

In [45]:
table1.groupby(["month", "weekday_weekend"]).mean()

morning_afternoon             am         pm
month weekday_weekend
5     weekday          57.900000  69.000000
      weekend          61.333333  80.000000
6     weekday          67.533333  64.928571
      weekend          67.428571  99.166667
7     weekday          47.846154  73.666667
      weekend          47.333333  68.250000

I have some outlier, it is because I have other activities after my job/course. Maybe I should remove them.

## Heatmap

In [ ]:
import gmaps
#import googlemaps
#gm = googlemaps.Client(key="AIzaSyCTjoqtBFab3fB8WJ7AfZQ0MybA6hVr0QE")
gmaps.configure(api_key="AIzaSyCTjoqtBFab3fB8WJ7AfZQ0MybA6hVr0QE")


#locations = gmaps.datasets.load_dataset_as_df('acled_africa')
fig = gmaps.figure(map_type='HYBRID')
heatmap_layer = gmaps.heatmap_layer(df[['latitude', 'longitude']])
fig.add_layer(heatmap_layer)
fig

In [ ]:
fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(
    df[['latitude', 'longitude']],
    max_intensity=30, point_radius=3.0
)
fig.add_layer(heatmap_layer)
fig

In [ ]:
locations = df[['latitude', 'longitude']]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations))
fig